<% include ../partials/header %>

<div class="container bg-white">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group">
              <li class="list-group-item active">Info 1</li>
              <li class="list-group-item">Smile</li>
              <li class="list-group-item">Puppies!</li>
              <li class="list-group-item"><a class="btn btn-info" href="/campgrounds">Back to Campgrounds</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card">
              <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
              <div class="card-body">
                  <h4 class="float-right">$<%= campground.price %> per night</h4>
                <h4 class="card-title"><%= campground.name %></h4>
              </div>
              <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p><%= campground.description %></p>
                    <footer class="blockquote-footer"><em>Submited by: <%= campground.author.username %></em></footer>
                </blockquote>
              </div>
                  <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser.isAdmin){%>
                      <div class="card-body">
                      <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                      <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"><button class="btn btn-danger btn-sm">Delete Campground</button></form>
                      </div>
                  <% } %>
              <div class="card-body bg-light">
                  <a class="btn btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add a Comment</a>
                <h4> Comments </h4>
              </div>
            <ul class="list-group list-group-flush bg-light">
                <% campground.comments.forEach(function(comment){ %>
               <li class="list-group-item bg-light">
                   <strong> <%= comment.author.username %> </strong>
                   <span class="float-right"><%= comment.created.toLocaleDateString("en-US") %></span>
                   <p><%= comment.text %> </p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)|| currentUser.isAdmin){%>
                   <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                   <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"><button class="btn btn-danger btn-sm">Delete</button></form>
                   <% } %>
               </li>
              <% }) %>
           </ul>
           </div>
       </div>
   </div>
</div>

<% include ../partials/footer %>
